<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="VNev">
    <label for="floatingInput">Vásárló neve</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="VFavProduct">
    <label for="floatingInput">Vásárló kedvenc terméke</label>
</div>
<div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" placeholder="VPoints">
    <label for="floatingInput">Vásárló hűségpontjai</label>
</div>


<button type="button" class="btn btn-primary" routerLink="/traficform">Új vásárló fölvétele</button>