
<h3>Katergória kezelés</h3>
<hr>
<button type="button" class="btn btn-primary" routerLink="/catform">új adat rögzítés</button>


<table class="table table-hover table-stripped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Termék</th>
            <th>Vevő</th>
            <th>Kategória</th>
            <th class="text-end">Egység</th>
            <th class="text-end">Nettó ár</th>
            <th class="text-end">Mennyiség</th>
            <th class="text-end">Kiadva</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <th colspan="8" class="text-center">Összesen: <span>0</span></th>
    </tfoot>
</table>