<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Termek">
    <label for="floatingInput">Termék</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Lajos">
    <label for="floatingInput">Vevő</label>
</div>
<div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">KategoriaIID</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="db">
    <label for="floatingInput">Egység</label>
</div>
<div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" placeholder="0">
    <label for="floatingInput">Nettó ár</label>
</div>
<div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" placeholder="1">
    <label for="floatingInput">Mennyiség</label>
</div>

<div class="form-check">
    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
    <label class="form-check-label" for="radioDefault1">
      Kiadva
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
    <label class="form-check-label" for="radioDefault2">
      Nincs Kiadva
    </label>
  </div>


<button type="button" class="btn btn-primary" routerLink="/traficform">új adat rögzítés</button>