<div class="form-floating mb-3">
    <input type="text" class="form-control" id="TermekInp" placeholder="Termek" [(ngModel)] = "newTrafic.termek">
    <label for="floatingInput">Termék</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="VevoInp" placeholder="Lajos" [(ngModel)] = "newTrafic.vevo">
    <label for="floatingInput">Vevő</label>
</div>
<div class="form-floating mb-3">
    <input type="number" class="form-control" id="KateIDInp" placeholder="name@example.com" [(ngModel)] = "newTrafic.kategoriaId">
    <label for="floatingInput">KategoriaIID</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="EgysegInp" placeholder="db" [(ngModel)] = "newTrafic.egyseg">
    <label for="floatingInput">Egység</label>
</div>
<div class="form-floating mb-3">
    <input type="number" class="form-control" id="ArInp" placeholder="0" [(ngModel)] = "newTrafic.nettoar">
    <label for="floatingInput">Nettó ár</label>
</div>
<div class="form-floating mb-3">
    <input type="number" class="form-control" id="MennyisegInp" placeholder="1" [(ngModel)] = "newTrafic.mennyiseg">
    <label for="floatingInput">Mennyiség</label>
</div>
<div class="form-floating mb-3">
  <input type="string" class="form-control" id="KiadvaInp" placeholder="kiadva" [(ngModel)] = "newTrafic.kiadva">
  <label for="floatingInput">Kiadva?</label>
</div>


<button type="button" class="btn btn-primary" (click)="save()">új adat rögzítés</button>